<form action="" method="">
	
	<div style="display: block; margin-bottom: 15px;">

		<label for="node_id">Título:</label>
		<input type="text" name="nome" id="nome_id">

	</div>

	<div style="display: block; margin-bottom: 15px;">
		
		<label for="conteúdo_id" style="display: block; margin-bottom: 5px;">Conteúdo:</label>
		<textarea name="conteúdo" id="conteúdo_id" cols="10" rows="30"></textarea>

	</div>

	<div style="display: block;">
		
		<button type="submit">Cadastrar</button>

	</div>

</form>

<!--Por conta do "defaultlayout: main", a estrutura HTML já está criada no arquivo "main.handlebars".-->
